.input {
  border: none;
  font-size: unset;
  outline: none;
  background-color: var(--secondary-dark);
  color: lightgrey;
  border-radius: var(--radius);
  padding: 8px;
  margin-bottom: 32px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.input:hover {
  background-color: var(--secondary-dark-hover);
}
