
* {
  box-sizing: border-box;
}

:root {
  --mobile-limit: 960px;
}

html {
  background-color: #1B2430;
}

hr {
  background: none;
  border: none;
  border-bottom: solid #D9DBDD 1px;
}

.App {
  box-sizing: border-box;
  background-color: #F7F9FC;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
