.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 6px;
}

.root:hover {
  background: var(--hover);
}

.header {
  font-weight: bold;
}

.artistcover {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 6px;
}

.artistname {
  flex: 2;
  font-weight: bold;
}

.genres {
  text-align: center;
  flex: 4;
}

.sumcount {
  flex: 1;
  text-align: center;
}

.sumduration {
  flex: 1;
  text-align: right;
}
