.root {
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
  color: white;
  padding: 16px;
}

.root::-webkit-scrollbar {
  display: none;
}

.drawer {
  width: 300px;
}

.title {
  display: block;
  margin-bottom: 32px;
  color: white;
}

.category {
  margin-bottom: 32px;
}

.categoryname {
  margin-bottom: 16px;
}

.link {
  display: flex;
  margin-bottom: 8px;
  padding: 4px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.link > span {
  margin-right: 8px;
}

.link:hover {
  background: grey;
  text-decoration: underline;
}
