.panel {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.presets {
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  margin-right: 8px;
  margin-bottom: 8px;
}

.calendarRoot {
  margin: unset !important;
  margin-top: -16px !important;
  margin-left: -16px !important;
}

@media screen and (max-width: 560px) {
  .panel {
    flex-direction: column;
    align-items: center;
  }

  .presets {
    width: 100%;
    flex-direction: row;
    border-right: unset;
    margin-right: unset;
  }
}

.outside {
  color: grey;
}

.day {
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

.lonelyHovered {
  color: var(--background) !important;
  background-color: var(--primary) !important;
  border-radius: 40px !important;
}

.hovering {
  color: var(--background) !important;
  background-color: rgba(var(--primary-tuple), 0.4) !important;
}

.between {
  color: var(--background) !important;
  background-color: var(--primary) !important;
}

.start {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}

.end {
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
}
