.root {
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
  color: white;
  padding: 12px;
}

.root::-webkit-scrollbar {
  display: none;
}

.drawer {
  width: 300px;
}

.title {
  display: block;
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 8px;
  color: white;
}

.versionwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 8px;
}

.version {
  color: rgb(108, 108, 108);
  font-size: 0.8em;
  transform: translateY(-1px);
}
