

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fromtop {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes frombottom {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.welcome {
    animation: fadein 1s, fromtop 1s;
    animation-iteration-count: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    margin: 20px 0px;
}

.welcomehidden {
    opacity: 0;
}

.content {
    transition-delay: 250ms;
    animation: fadein 1s, frombottom 1s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
    min-height: 75vh;
}

.contenthidden {
    min-height: 75vh;
    opacity: 0;
}

.listened {
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstleft {
    padding-bottom: 16px;
    padding-right: 8px;
}

.secondleft {
    padding-bottom: 16px;
    padding-left: 8px;
}

@media only screen and (max-width: 960px) {
    .listened {
    }
    
    .firstleft {
        padding-right: unset;
    }
    
    .secondleft {
        padding-left: unset;
    }
}

.username {
    color: #1365ff;
}
