.importhistory > h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.importertype {
  color: grey;
  font-style: italic;
  margin-left: 8px;
}

.right {
  display: flex;
  align-items: center;
}

.right > span {
  margin-right: 8px;
}
