.header {
  margin-bottom: 16px;
}

.cover {
  border-radius: var(--radius);
}

.names {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artistname {
  color: var(--text-grey) !important;
}
