.disclaimer {
  font-size: 1.4em;
  margin-bottom: 8px;
  max-width: 60%;
  text-align: center;
}

.sub {
  margin-bottom: 24px;
  max-width: 60%;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .disclaimer {
    max-width: 95%;
  }
  .sub {
    max-width: 95%;
  }
}
