.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--page-padding);
}

.title {
  margin-bottom: 32px;
  font-size: 4em;
  text-align: center;
}

.welcome {
  margin-bottom: 16px;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #1BD760;
  color: white;
  height: 40px;
  border-radius: 20px;
  padding: 0px 58px;
  font-weight: bold;
}

.rememberMe {
  padding-left: 14px;
  transition: all 250ms;
  border-radius: 6px;
  border: none;
  font-size: unset;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
}