.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.twonumbers {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}

.twonumbers > :last-child {
  transform: translateY(-2px);
}

.more {
  color: green;
}

.less {
  color: red;
}
