

.root {

}

.row {
}

.paper {
    width: 100%;
    padding: 20px;
}

.entry {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 20px;
    width: 100%;
}

.value {
    font-weight: bold !important;
}
