.root {
  width: 100%;
}

.none {
  color: grey;
}

.search {
  color: var(--text-on-light);
  background-color: var(--input-background-color);
}

.search:hover {
  background-color: var(--input-background-color-hover);
}

.artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.artistcover {
  margin-right: 8px;
  border-radius: var(--radius);
}

.unblacklist {
  margin-left: auto !important;
}

.marginbottom {
  display: block;
  margin-bottom: 16px;
}
