.root {
  box-shadow: var(--shadow) !important;
  background-color: var(--background) !important;
  border: var(--content-border) !important;
  position: relative;
}

.noborder {
  border: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
}

.content {
  position: relative;
  height: 92%;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
}
