---

name: Release CI

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get current tag
        id: tag
        uses: "WyriHaximus/github-action-get-previous-tag@master"

      - name: Build and push client release
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.client.production
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            yooooomi/your_spotify_client:latest
            yooooomi/your_spotify_client:${{ steps.tag.outputs.tag }}

      - name: Build and push server release
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.server.production
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            yooooomi/your_spotify_server:latest
            yooooomi/your_spotify_server:${{ steps.tag.outputs.tag }}
